<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sh.url</title>
</head>
<style>
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: #000;
        color: whitesmoke;
        padding: 0;
        margin: 0;
    }

    .header {
        background-color: #74526C;
        margin: 0;
        padding: 0.5rem;
    }
    
    .header > span:hover, .url-head:hover{
        color: #FFD9CE;
        cursor: pointer;
    }

    .url-list-container {
        padding: 0.5rem;
    }

    .url-head {
        border-bottom: 1px solid whitesmoke;
        font-size: 1.5rem;
        width: 50%;
        padding: 5px;
        font-weight: bold;
    }

</style>
<body>
    <h1 class="header"> <span>෴ sh.url</span></h1>
    <div class="url-list-container">
        <% if(urls) { %>
        <div class="url-head">Current Urls</div>
        <ul>
            <% urls.forEach((url) => { %>
                <li> <%= url.shortId %> - <%= url.visitHistory.length %> - <%= url.redirectUrl %> </li>
            <%  }) %>
        </ul>
        <% } %>
    </div>
</body>
</html>