<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sh.url</title>
    <link rel="stylesheet" type="text/css" href="/assets/style-base.css" /> 
</head>
<style>
</style>
<body>
    <h1 class="header"> <span>෴ sh.url</span></h1>
    <div class="form-container">
        <h2>Generate new URL</h2>
        <form method="POST" action="/url">
            <input class="input-box input-text" type="text" name="url" placeholder="Enter a link">
            <button class="input-box input-btn" type="submit"> Generate </button>
        </form>

        
    </div>

    <% if(locals.id) { %>
        <div class="new-url-box">
            <h2>Short URL Generated!</h2>
            <span> http://localhost:8000/url/<%= id %> - </span> 
            <a class="link" href="http://localhost:8000/url/<%= id %>" target="_blank" rel="noopener noreferrer"> visit  ☍ </a>
        </div>
    <% } %>
</body>
</html>